<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ampei.testng.maven.RestAssured.TestNgRestAssuredPatchExample"/>
      <class name="com.ampei.testng.maven.RestAssured.TestNgRestAssuredGetExample"/>
      <class name="com.ampei.testng.maven.RestAssured.TestNgRestAssuredDeleteExample"/>
      <class name="com.ampei.testng.maven.RestAssured.TestNgRestAssuredPostExample"/>
      <class name="com.ampei.testng.maven.RestAssured.TestNgRestAssuredPutExample"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
